/* syle.css figma */
html, body{
     font: normal 16px/24px raleway ;
     margin: 0;
}
/*
* {
    outline: solid 1px red;
}
*/
.content-wrapper{
    max-width: 1200px;
}

.logo{
font-size: 30px;
font-weight: 35px;
position: fixed;
}

 /* Lista di navigazione */
.nav-list {
    list-style: none;
    padding-left: 0;
    display: flex;
    justify-content: left;
    /* justify-content: flex-start; */
    align-items: left;
    position: fixed;
}

/* Items della navigazione */
.nav-item {
    margin: 0;
    padding: 0;  
}

/* Links */
.nav-link {
    color: rgba(0, 0, 0, 0.8);
    border-bottom: solid 4px transparent;
    text-decoration: none;
    font-size: 18px;
    margin: 8px;
    padding: 8px;
    white-space: nowrap;
}

.nav-link:hover {
    color: #fff;
    border-bottom: solid 4px #fff;
}

.nav-link.selected {
    color: #333333;
    border-bottom: solid 4px #333333;
    cursor: default;
}


/* sfondi*/
.bg-red{
    background-color: #fc6a65;
    padding:50px;
    width: 100%;
    position: fixed;
}
.bg-titolo{
    background-color: #333333;
    padding: 130px;
    width: 100%;
    margin-top: 74px;

}
.bg-monumenti{
    background-color: #cacaca;
       padding: 80px;
      width: 100%; 
}
/*colori testo*/
.color-white{
    color: #fff; 
}

/* stili testi*/
h1{
    font-size:70px;
    line-height: 100px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
}
h2{ 
    font-size:60px;
    line-height: 70px;
    width: 100%;
    margin: 0 auto;
    border-bottom: solid 4px #fc6a65 ;
}
h3{
   font-size: 48px; 
   line-height: 70px;
   text-align: center;
    width: 100%;
    margin: 0 auto;
}
h4{ 
    font-size:60px;
    line-height: 70px;
    width: 100%;
    margin: 0 auto;
}
.font-1{
   font-size:25px;
    line-height: 30px;
    width: 100%;
    margin: 0 auto;  
}



/* Bottone di ricerca */
.btn-menu{
    background: transparent url('../img/burger-menu.svg') no-repeat center center;
    border: none;
    padding: 0;
    width: 20px;
    height: 20px;
    cursor: pointer;
    font-size: 0; /* Nasconde il testo del bottone */
    margin: 3px 10px 0 0;
}
/* Bottone close menu */
.btn-close{
    background: transparent url('../img/close.svg') no-repeat center center;
    background-size: cover;
    border: none;
    padding: 0;
    width: 40px;
    height: 40px;
    cursor: pointer;
    font-size: 0; /* Nasconde il testo del bottone */
    position: absolute;
    top: 20px;
    right: 20px;
}






/* Mobile */
@media (max-width: 375px) {
  h1 {
    font-size: 30px; 
    text-align: center;
    line-height: 40px;
  }
  
  h3 {
    font-size: 20px;
    text-align: center;
    line-height: 25px;
  }
}







/* navigazione mobile */
.mobile-nav-wrapper{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fc6a65;
    z-index: 1000;
    display: flex;
    padding-top: 33%;
    justify-content: center;
    align-items: flex-start;
    display: none;

       opacity: 0;
    transform: translateX(100%);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    pointer-events: none;
}

.mobile-nav-wrapper.show{
    display: flex;
}
.mobile-nav-wrapper .nav-list{
    flex-direction: column;
    padding-top: 50px;
}
.mobile-nav-wrapper .nav-item{
    margin: 15px 0;
    width: 100%;
}
.mobile-nav-wrapper .nav-link{
    padding: 8px 0;
    font-size: 30px;
}

.mobile-nav-wrapper .nav-link.selected{
color: #333333;
border-bottom: solid 4px #333333;
cursor: default;

}

.mobile-nav-wrapper .nav-link:hover{
    color: #fff;
    border-bottom: none;
}


.mobile-nav-wrapper {
    /* ... stili esistenti ... */
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    pointer-events: none;
}

.mobile-nav-wrapper.show {
    opacity: 1;
    transform: translateX(0);
    pointer-events: auto;
}
